html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html, body, .root {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.5;
}
body, .app {
  background: #f5f5f5;
}

.false , .true {
padding: 20px 13px;
font: 900;
color: navy;
margin:  0 33px;
border: none;
border-radius: 222px;
}
.false{background:tomato; }
.true{background:rgb(28, 224, 55); }
.bord{
  border:greenyellow 2px solid;
  background:#ddd;
  margin: 50px;
  padding: 11px;
  text-align: center; 
}
.game{
  text-align: center;
  padding: 10% 0;
}
.score{
  border:1px salmon ridge ;
  width:25%;
  border-radius: 10px;
  background: cornsilk;
  margin:50px  auto;
}

.score h4{
  background: #fff;
  display: inline-block;
  padding: 10px 20px;
  margin-top: 0px;
  border-radius: 10px;
}
.pass{
  color: green
}
.fall{color: hotpink}
ul li {
  color: navy;
list-style: none;
}
.hd{
  color: brown;
  text-align: center;
  padding: 10px;
  margin-top: 40px;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
#t01 th {
  background-color: rgb(37, 34, 34);
  padding: 15px;
  color: white;
 
}


/* CreateContact */
